 
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Farmers</h1>

<ul>
  <% Farmer.all.each do |farm| %>
    <li><a href="farmers/<%= farm.id%>"><%= farm.name%></a></li>
  <% end %>
</ul>

<br>

<a href="farmers/new">To add farmer</a>

<br>
<a href="farmers/edit">To edit farmer info:</a>

<br></br><br>

<a href="../foodbanks">Foodbanks</a>
<a href="../days">Delivery Calendar</a>

<form method="POST" action="/logout">
  <label>logout?</label>
  <input type="submit" value="logout">

</form>
