<h1>Foodbank Sinatra Demo</h1>

<h2>Welcome Farmer <%=@farmer.name%></h2>

  <a href="/farmers">Farms</a>
  <a href="/foodbanks">Foodbanks</a>
  <a href="/calendar">Delivery Calendar</a>
  
  <br><br>
  <a href="/logout">Logout?</a>
