<h1>Foodbank Sinatra Demo</h1>

<h2></h2>

<a href="farm/new">Add Farm</a>
<a href="foodbank/new">Add Foodbank</a>




<form>
<h2>Add farm</h2>
  <label>Name of Farms: </label>


<h2>populate foodbanks</h2>

</form>