<h1>Foodbank Sinatra Demo</h1>

<h2>Login / Signup</h2>

<form method="post" action="/login">
  <label>Username (aka Farm name): <input type="text" name="login[name]" placeholder="login"></label>
  <label>Password: <input type="password" name="login[password]"</label>
  <input type="submit" name="login" id="login" value="login">
</form>

<% # params = {name: "", password=""} %>
<% # params = {login{name:"",password""}}%>
<br><br><br>

<p> or signup below</p>
<form method="post" action="/signup">
  <label>Username (aka Farm name): <input type="text" name="signup[name]" id="signup"></label>
  <label>Password: <input type="password" name="signup[password]"</label>
  <input type="submit" name="signup" id="signup" value="signup">
</form>