<h1>Foodbank Sinatra Demo</h1>

<h2>Login / Signup</h2>

<form method="post" action="/index">
  <label>Username (aka Farm name): <input type="text" name="name" value="login"></label>
  <label>Password: <input type="password" name="password"</label>
  <input type="submit" name="login" id="login" value="login">
</form>

<br><br><br>

<p> or signup below</p>
<form method="post" action="/index">
  <label>Username (aka Farm name): <input type="text" name="name" id="signup"></label>
  <label>Password: <input type="password" name="password"</label>
  <input type="submit" name="signup" id="signup" value="signup">
</form>